services:
  dnsmasq:
    restart: unless-stopped
    image: jpillora/dnsmasq
    container_name: dnsmasq
    volumes:
      - ./conf/dnsmasq.conf:/etc/dnsmasq.conf
    ports:
      - "53:53/udp"
#      - "8089:8080"
    env_file:
      - .env
networks:
  default:
    external: true
    name: nginx-proxy-net
