services:
  dnsmasq:
    restart: unless-stopped
    build: .
    container_name: dnsmasq
    hostname: dnsmasq
    network_mode: host
    volumes:
      - ./config/dnsmasq.conf:/etc/dnsmasq.conf
      - ../../lib/dnsmasq/hosts.d:/etc/hosts.d
      - ../../lib/dnsmasq/autohosts.d:/etc/autohosts.d
#    ports:
#      - "53:53/udp"
    labels:
      - "com.centurylinklabs.watchtower.enable=false"
