# https://hub.docker.com/r/buvis/mopidy
services:
  mopidy:
    image: buvis/mopidy:${IMAGE_VERSION:-latest}
    container_name: mopidy
    hostname: mopidy
    restart: unless-stopped
    privileged: true
    networks:
      - proxy
      - mdns
    volumes:
      - ../../lib/mopidy:/app:rw
      - ../../run/mopidy:/app/cache
      - ./config:/config:ro
      - /media/nas/music:/media
    user: 84044:audio
    ports:
      - 6600:6600
      - 6680:6680

networks:
  proxy:
    external: true
    name: nginx-proxy-net
  mdns:
    external: true
    name: mdns-net
