TARGET_IP=10.0.1.11
DOMAIN_NAME=cats
DNSMASQ_PATH=/dest/npm-hosts

HOSTSFILE_PATH=/opt/hackstack/lib/dnsmasq/autohosts.d
DB_PATH=/opt/hackstack/apps/nginx-proxy-manager/data/database.sqlite

TZ=America/Los_Angeles

# Image version (optional, defaults to latest)
#IMAGE_VERSION=latest
