services:
  rtlamr2mqtt:
    image: allangood/rtlamr2mqtt:${IMAGE_VERSION:-latest}
    container_name: rtlamr2mqtt
    hostname: rtlamr2mqtt
    restart: unless-stopped
    devices:
      - "${SDR_DEVICE}"
    volumes:
      - ./config.yaml:/etc/rtlamr2mqtt.yaml:ro
      - ../../lib/rtlamr2mqtt/data:/var/lib/rtlamr2mqtt
    env_file:
      - .env
networks:
  default:
    name: mosquitto-net
    external: true
