services:
  ak-outpost:
    image: ghcr.io/goauthentik/proxy:${IMAGE_VERSION:-latest}
    container_name: ak-outpost
    hostname: ak-outpost
    restart: unless-stopped
#    ports:
#      - 9000:9000
    env_file:
      - .env
    networks:
      - proxy
networks:
  proxy:
    external: true
    name: nginx-proxy-net
