services:
  postgresql: &base
    image: postgres:${IMAGE_VERSION:-16}
    hostname: postgresql
    container_name: postgresql
    restart: unless-stopped
    networks:
      - default
      - proxy
    volumes:
      - ../../lib/postgresql:/var/lib/postgresql/data
      - ../../log/postgresql:/var/log/postgresql/
    shm_size: 128mb
    env_file:
      - .env

  postgresql-ports:
    <<: *base
    container_name: postgresql-ports
    ports:
      - 5432:5432

networks:
  default:
    name: postgres-net
  proxy:
    name: nginx-proxy-net
    external: true
