*/.env

avahi-dns/services

backrest/backrest/config/config.json
backrest/backrest/config/config.json.bak.*
backrest/backrest/data

dnsmasq/dnsmasq.conf

glances/glances.conf
glances/glances.pwd

nginx-proxy-manager/config/
nginx-proxy-manager/letsencrypt/

redis/conf/

upsd/config/
