*/.env

avahi-dns/services

backrest/config/config.json*

dnsmasq/dnsmasq.conf

glances/glances.conf
glances/glances.pwd

nginx-proxy-manager/config/
nginx-proxy-manager/letsencrypt/

redis/conf/

upsd/config/
