services:
  z-wave:
    image: zwavejs/zwave-js-ui:${IMAGE_VERSION:-latest}
    container_name: z-wave
    hostname: z-wave
    restart: unless-stopped
    devices:
      - "${CONTROLLER_DEVICE}:/dev/zwave"
    volumes:
      - ../../lib/z-wavejs:/usr/src/app/store
    networks:
      - hass
      - proxy
#    ports:
#      - 8091:8091
#      - 3000:3000
networks:
  hass:
    name: hass-net
    external: true
  proxy:
    name: nginx-proxy-net
    external: true
