# https://github.com/open-webui/open-webui/blob/main/docker-compose.yaml
services:
  openwebui:
    image: ghcr.io/open-webui/open-webui:${WEBUI_DOCKER_TAG-main}
    container_name: openwebui
    hostname: openwebui
    restart: unless-stopped
    ports:
      - 3000:8080
    networks:
      - default
      - llama
    volumes:
      - ../../lib/openwebui:/app/backend/data
    env_file:
      - .env
networks:
  llama:
    name: llama-net
    external: true
  default:
    name: nginx-proxy-net
    external: true
