services:
  management-center:
    image: cedalo/management-center:${IMAGE_VERSION:-dev}
    container_name: management-center
    hostname: management-center
    restart: unless-stopped
    volumes:
      - ./config:/management-center/backend/config
#    ports:
#        - 8088:8088
    env_file:
      - .env
networks:
  default:
    external: true
    name: nginx-proxy-net
  mosquitto:
    external: true
    name: mosquitto-net
