# https://hub.docker.com/r/mikebrady/shairport-sync
# https://github.com/mikebrady/shairport-sync
services:
  shairport-sync:
    image: mikebrady/shairport-sync:${IMAGE_VERSION:-latest}
    container_name: shairport-sync
    hostname: shairport-sync
    restart: unless-stopped
    network_mode: host
    devices:
      - /dev/snd:/dev/snd
    volumes:
      - ../../run/shairport-sync/fifos:/tmp/shairport-sync-metadata/
