# enable remote agents - list of names or IP addresses and ports
#DOZZLE_REMOTE_AGENT=agent1:7007,agent2:7007

# enable start, stop and restart
DOZZLE_ACTIONS=false

# enable container shell access
DOZZLE_ENABLE_SHELL=false

# Disable sending analytics to Dozzle folks
DOZZLE_NO_ANALYTICS=true

# Timezone
TZ=America/Los_Angeles
