services:
  invidious:
    image: quay.io/invidious/invidious:${IMAGE_VERSION:-latest}
    # image: quay.io/invidious/invidious:${INVIDIOUS_TAG:-latest-arm64} # ARM64/AArch64 devices
    container_name: invidious
    restart: unless-stopped
    networks:
      - database
      - proxy
    volumes:
      - ./config/config.yml:/invidious/config/config.yml
#    ports:
#      - "127.0.0.1:3000:3000"
    healthcheck:
      test: wget -nv --tries=1 --spider http://127.0.0.1:3000/api/v1/trending || exit 1
      interval: 30s
      timeout: 5s
      retries: 2
    logging:
      options:
        max-size: "1G"
        max-file: "4"
    env_file:
      - .env
networks:
  proxy:
    external: true
    name: nginx-proxy-net
  database:
    external: true
    name: postgres-net
