services:
  sensors2mqtt:
    image: kevinpdavid/sensors2mqtt:${IMAGE_VERSION:-main}
    container_name: sensors2mqtt
    hostname: sensors2mqtt
    privileged: true
    restart: unless-stopped
    networks:
      - mosquitto
    env_file:
      - .env
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities:
                - gpu
networks:
  mosquitto:
    name: mosquitto-net
    external: true
