services:
  stable-diffusion-web-ui:
    image: tukirito/sygil-webui:${IMAGE_VERSION:-latest}
    container_name: stable-diffusion-web-ui
    hostname: stable-diffusion-web-ui
    restart: unless-stopped
    volumes:
      - ../../lib/stable-diffusion-web-ui/outputs:/sd/outputs
      - ../../lib/stable-diffusion-web-ui/models:/sd/models
      - ../../log/stable-diffusion-web-ui:/sd/logs
#    ports:
#      - 8501:8501
    env_file:
      - .env
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: "${GPU_COUNT}"
              capabilities: [gpu]
networks:
  default:
    name: nginx-proxy-net
    external: true
