services:
  calibre-web:
    image: lscr.io/linuxserver/calibre-web:${IMAGE_VERSION:-latest}
    container_name: calibre-web
    hostname: calibre-web
    restart: unless-stopped
    volumes:
      - ../../lib/calibre-web/config:/config
      - ../../lib/calibre-web/books:/books
#    ports:
#      - 8083:8083
    env_file:
      - .env
networks:
  default:
    external: true
    name: nginx-proxy-net
