services:
  backrest:
    image: garethgeorge/backrest
    container_name: backrest
    hostname: backrest
    volumes:
      - ../../lib/backrest:/data
      - ./config:/config
      - /backups/chaos/backrest/cache:/cache
      - /backups/chaos/backrest/repos:/repos
      - /opt:/userdata
      - /etc:/useretc
      - /home:/userhome
    env_file:
      - .env
    restart: unless-stopped
#    ports:
#      - 9898:9898
networks:
  default:
    external: true
    name: nginx-proxy-net
