services:
  airconnect:
    image: 1activegeek/airconnect:${IMAGE_VERSION:-latest}
    container_name: airconnect
    hostname: airconnect
    restart: unless-stopped
    privileged: true
    network_mode: host
    volumes:
      - ./config:/config
    env_file:
      - .env
