services:
  adminer:
    image: adminer:${IMAGE_VERSION:-latest}
    hostname: adminer
    container_name: adminer
    restart: unless-stopped
#    ports:
#      - 8080:8080
networks:
  default:
    name: nginx-proxy-net
    external: true
  mariadb:
    name: mariadb-net
    external: true
  postgresql:
    name: postgres-net
    external: true
