services:
  weather:
    image: nginx:${IMAGE_VERSION:-latest}
    container_name: weather
    hostname: weather
    restart: unless-stopped
    volumes:
     - /home/weather/weewx-report:/usr/share/nginx/html:ro
     - ../../log/weather-nginx:/opt/log/nginx
networks:
  default:
    external: true
    name: nginx-proxy-net
