---
services:
  netbootxyz:
    image: ghcr.io/netbootxyz/netbootxyz
    container_name: netbootxyz
    environment:
      - MENU_VERSION=2.0.47 # optional
      - NGINX_PORT=3080 # optional
      - WEB_APP_PORT=3100 # optional
    volumes:
      - /opt/docker/netboot/data/config:/config # optional
      - /opt/docker/netboot/assets:/assets # optional
    ports:
#      - 3100:3000  # optional, destination should match ${WEB_APP_PORT} variable above.
      - 69:69/udp
#      - 3188:80  # optional, destination should match ${NGINX_PORT} variable above.
    restart: unless-stopped
networks:
  default:
    external: true
    name: nginx-proxy-net
