services:
  netbootxyz:
    image: ghcr.io/netbootxyz/netbootxyz:${IMAGE_VERSION:-latest}
    container_name: netbootxyz
    hostname: netbootxyz
    environment:
      - MENU_VERSION=2.0.47 # optional
      - NGINX_PORT=80 # optional
      - WEB_APP_PORT=3000 # optional
    volumes:
      - /opt/docker/netboot/data/config:/config # optional
      - /opt/docker/netboot/assets:/assets # optional
    ports:
      - 3000:3000  # optional, destination should match ${WEB_APP_PORT} variable above.
      - 69:69/udp
      - 3080:80  # optional, destination should match ${NGINX_PORT} variable above.
    restart: unless-stopped
networks:
  default:
    external: true
    name: nginx-proxy-net
