services:
  mariadb: &base
    image: mariadb:latest
    hostname: mariadb
    container_name: mariadb
    command: --max-allowed-packet=64MB
    restart: unless-stopped
    networks:
      - mariadb
      - proxy
    volumes:
      - ../../lib/mariadb:/var/lib/mysql:Z
    env_file:
      - ./.env
# https://mariadb.com/kb/en/using-healthcheck-sh/
    healthcheck:
      interval: 30s
      retries: 3
      test:
        [
          "CMD",
          "healthcheck.sh",
          "--su-mysql",
          "--connect",
          "--innodb_initialized"
        ]
      timeout: 30s

  mariadb-ports:
    <<: *base
    container_name: mariadb-ports
    ports:
      - 3306:3306

networks:
  mariadb:
    name: mariadb-net
  proxy:
    name: nginx-proxy-net
    external: true
