services:
  dozzle:
    image: amir20/dozzle:latest
    hostname: dozzle
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
#    ports:
#      - 8080:8080
    networks:
      - proxy
    env_file:
      - .env

networks:
  proxy:
    name: nginx-proxy-net
    external: true
