# path for backrest data. restic binary and the database are placed here (inside the container)
BACKREST_DATA=/data
# path for the backrest config file inside the container
BACKREST_CONFIG=/config/config.json
# path for the restic cache which greatly improves performance.
XDG_CACHE_HOME=/cache

# Host path for the restic cache directory
BACKREST_CACHE_PATH=/backups/chaos/backrest/cache
# Host path for the restic repositories
BACKREST_REPOS_PATH=/backups/chaos/backrest/repos

# Host paths made available inside the container for backup source data
# Defaults shown - override in .env if your paths differ
#BACKREST_USERDATA_PATH=/opt
#BACKREST_USERETC_PATH=/etc
#BACKREST_USERHOME_PATH=/home
