services:
  portainer:
    image: portainer/portainer-ce:${IMAGE_VERSION:-latest}
    container_name: portainer
    hostname: portainer
    restart: unless-stopped
#    ports:
#      - 9443:9443
#      - 8000:8000
    volumes:
      - ../../lib/portainer:/data
      - /var/run/docker.sock:/var/run/docker.sock
networks:
  proxy:
    external: true
    name: nginx-proxy-net
