services:
  peanut:
    image: brandawg93/peanut:${IMAGE_VERSION:-latest}
    container_name: peanut
    hostname: peanut
    restart: unless-stopped
    volumes:
      - ./config:/config
#    ports:
#      - 8080:8080
    networks:
      - proxy
    env_file:
      - .env

networks:
  proxy:
    name: nginx-proxy-net
    external: true
