# https://github.com/AlainGourves/shairport-metadata-display
services:
  shairport-metadata-display:
    build: .
    container_name: shairport-metadata-display
    hostname: shairport-metadata-display
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ../../run/shairport-sync/fifos:/tmp/shairport-sync-metadata
