services:
  zigbee2mqtt:
    image: koenkk/zigbee2mqtt
    container_name: zigbee2mqtt
    hostname: zigbee2mqtt
    restart: unless-stopped
    devices:
      # Make sure this matched your adapter location
      - /dev/serial/by-id/usb-dresden_elektronik_ingenieurtechnik_GmbH_ConBee_II_DE2496616-if00:/dev/ttyACM0
    volumes:
      - ./data:/app/data
      - /run/udev:/run/udev:ro
#    ports:
#      - 8080:8080
    env_file:
      - .env
    networks:
      - default
      - proxy
      - mqtt
networks:
  default:
    driver: bridge
  proxy:
    name: nginx-proxy-net
    external: true
  mqtt:
    name: mosquitto-net
    external: true
