services:
  nginx_proxy_manager:
    image: jc21/nginx-proxy-manager:latest
    container_name: nginx-proxy-manager
    hostname: nginx-proxy-manager
    restart: unless-stopped
# ports must be exposed
# 81 must be exposed to allow initial configuration
# 80 and 443 must be exposed for proxy operation
    ports:
      - 80:80
      - 81:81
      - 443:443
    volumes:
      - ../../lib/nginx-proxy-manager/data:/data
      - ../../lib/nginx-proxy-manager/letsencrypt:/etc/letsencrypt
      - ../../log/nginx-proxy-manager:/data/logs
    env_file:
      - .env
networks:
  default:
    name: nginx-proxy-net
